@page "/Acerca_de"

@rendermode InteractiveServer

<PageTitle>Acerca de:</PageTitle>


<h1>Datos del estudiantes</h1>
<div class="linea-separadora"></div>

<html>
<head>
    <style>
        .img-top-right {
  position: absolute;
  top: 5;
  right: 150px; /* Adjust this value to control the distance from the right */
  width: 150px;
  margin-top: 0px;
}
    </style>
</head>
<body>
    <img class="img-fluid img-top-right" src="imagenes/yo,Brazor.jpg" alt="imagen">
    </body>
</html>

<h5><strong>Nombre:</strong> Emmanuel Hidalgo Perez Ramirez</h5>

<h5><strong>Matricula:</strong> 2023-1003</h5>
<h5><strong>Correo Electronico:</strong> emmanuelperezramirez15@gmail.com</h5>

<div class="md-1"> 

    <p><strong>Contactos:</strong></p>

     <div class="top-row px-4">
            <a href="https://msng.link/o?EmmanuelHidalgoPerezRamirez=tg" target="_blank">Telegram</a>
    </div>

     <div class="top-row px-4">
            <a href="https://wa.link/49xb2s" target="_blank">WhatsApp</a>
    </div>

</div>

<div class="linea-separadora"></div>

<div class="md-1"> 
 <p><strong>A que me gustaria dedicar luego del ITLA</strong></p>

<div class="top-row px-4">
            <p>Me gustaria estudiar la carrera de Inteligencia Artificial luego de terminar la que estoy haciendo de desarrollo de software, 
              estoy pensando en hacer el ingles por inmercion cuando este termiando esta carrera, luego de eso ir a la universidad para conseguir
              el titulo en ingenieria de software, posterior a eso comenzar con los estudios en la carrera de IA, tambien quiero tambien poder
              crear una cuenta de inversiones para poder reunir capital y tener una mejor situacion economica, aunque eso algo muy largo plazo.</p> 
    </div>
</div>