@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Inicio</h1>



    <div class="linea-separadora"></div>
<h3> !Bienvenido a mi primera tarea de Programacion Web¡ </h3>

<p> !EL fracaso es la madre del exito¡! </p>

<img class = "img-fluid" src ="https://th.bing.com/th/id/OIP.S5zTl7P7cYZaQnQlhBcfgwHaEK?rs=1&pid=ImgDetMain/">

<div class="linea-separadora"></div>

